/*body {
background: red;
}*/



/*background fondo de pagina
color: fuente de letra
*/

/*header 
{
    background: pink;  
    color: red
}*/

body{ 
    font-family: 'Source Sans Pro', sans-serif; /*tipo de fuente para toda la pagina*/
    font-weight: normal; /*ancho de fuente o negrita*/
    /*font-style: normal; aqui le podemos dar un efecto de cursiva o algo mas*/

}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif; /*tipo de letra para todas las h */
}

h1{
    font-size: 40px; /*tamaño de la fuente   */
    line-height: 150% ; /*ancho del espacio entre texto */
    letter-spacing: -.2px; /*espaciado entre cada letra*/
    /*text-transform: uppercase; cambiar el tipo, ejemplo mayusculas, minusculas, oracion*/
    /*text-decoration: dashed; tipo de decorado en ete ejemplo subrayado*/
}

/* UNA FORMA DE LLAMAR A LA FUNCION O BIEN SE PUEDE HACER -----


.project div{
    width: 500px;
} 
*/

/* sino quiero ser muy directo le puedo decir --------*/

.project-details{
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.hero {

    height: 300px;
}

.header {

    background-color: #1b2127 ;
    color: white;
}

.header a {
color: white;
text-decoration: none;
}