    /*body {
background: red;
}*/
/*background fondo de pagina
color: fuente de letra
*/

/*header 
{
    background: pink;  
    color: red
}*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?q1u2pe');
    src:  url('../fonts/icomoon.eot?q1u2pe#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?q1u2pe') format('truetype'),
      url('../fonts/icomoon.woff?q1u2pe') format('woff'),
      url('../fonts/icomoon.svg?q1u2pe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-icon-github:before {
    content: "\e900";
  }
  .icon-icon-instagram:before {
    content: "\e901";
  }
  .icon-icon-twitter:before {
    content: "\e903";
  }
  .icon-icon-facebook:before {
    content: "\e904";
  }
  .icon-icon-menu:before {
    content: "\e902";
  }

  
/*COLORES:
--------------------------------------------
gris oscuro = #1d252c
gris claro = #62626
blackground gris = #1b2127
celeste = #026fff
--------------------------------------------
*/
body{ 
    font-family: 'Source Sans Pro', sans-serif; /*tipo de fuente para toda la pagina*/
  /*  font-weight: normal; /*ancho de fuente o negrita*/
    /*font-style: normal; aqui le podemos dar un efecto de cursiva o algo mas*/
    margin: 0;
;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif; /*tipo de letra para todas las h */
    font-weight: normal;
}

h1{
    font-size: 40px; /*tamaño de la fuente   */
    line-height: 150% ; /*ancho del espacio entre texto */
    letter-spacing: -.2px; /*espaciado entre cada letra*/
    color: white;
   /* margin: 100px 150px 70px 30px;*/

    /*text-transform: uppercase; cambiar el tipo, ejemplo mayusculas, minusculas, oracion*/
    /*text-decoration: dashed; tipo de decorado en ete ejemplo subrayado*/
    margin: 0;
}


h1 strong{
    color: #026fff;
    
    }

/* UNA FORMA DE LLAMAR A LA FUNCION O BIEN SE PUEDE HACER -----


.project div{
    width: 500px;
} 
*/

/* sino quiero ser muy directo le puedo decir --------*/


h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.portfolio
{
    background: #fafafa;
    padding: 20px;
    
}

.project 
{

    /* A este se le puede agregar un tamaño, tipo, estilo*/
/*border-top: 10px solid whitesmoke;
border-left: 10px solid  black;
border-right: 10px solid black;
border-bottom: 10px double  turquoise;
border-color: blue;
*/

/*--------------------------------
Aca puedo colocarle borde unicamente a la parte superior 
definiendolo en css de una sola vez

border-top-color: red; ---color a la parte superior
border-top-width: 15px; --ancho al borde
border-top-style: solid; -unicamente el estilo a el borde superior
*/

border: 1px solid gray; /*me asigna el borde a la pagina completa sin especificar*/
border-radius: 10px;
margin-bottom: 15px;
display: flex;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
/*
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
le daremos unicamente margen al espaciado entre cada proyecto
*/ 

padding: 0 20px;

background: white;

}


.project-title{
font-size: 30px;
margin-top: 0;
margin-bottom: 10px;
}

.project-course, 
.project-date,
.project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-details{
    width: 50%;

}

.project-imageContainer {
    width: 50%;
    

}

.project-imageContainer img {
    max-width: 100%;
}

.hero {

    height: 300px;
    /*background-image: url('../imagenes/hero.jpg'); me sirve para colocar una imagen en el hero o cabecera*/
    /*background-size: 500px 300px;/* tamaño de la imagen*/
    /*background-repeat: no-repeat; /*si una imagen es pequeña se repite en toda la pagina con esta funcion no lo hara*/
    /* background-position-x: right; /* alineamos la imagen a la derecha*/
    background-color: #1b2127 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.hero-image {
    object-fit: cover;
    
}



.header {

    background-color: #1b2127 ;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    flex-wrap:  wrap;
}

.menu{

    height: inherit;
}


.header ol{

    display: flex;
    height: inherit;

}

.header ol li{
    height: inherit;
}


.header a {
color: white;
text-decoration: none;
height: inherit;
display: flex;
align-items: center;
padding: 0 10px;
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{

    margin: 0;
}



.flexbox{

display: flex;
flex-shrink: 0; /*esta propiedad nos quita la flexibilidad de los cuadros para que no se encojan*/
/*flex-wrap: nowrap; este elemento no permite que caigan los cuadros 
osea que los seguira mstrando en el largo de la pagina web*/
flex-wrap: wrap; /*esto nos permite en la pagina cargar los elemento en la siguietne fila sino caben*/
/*flex-direction: column;  queremos que nuestros cuadros esten en columna
flex-direction: row; queremos que nuestros cuadros esten en filas
*/

}

.box{

    width: 50px; 
    height: 50px;
    border: 1px solid red;
    margin: 10px;
}

*/

.footer{

    max-width: 1000px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    background: #1b2127;
}

.footer .container {
   background: #1b2127;
    color: white;
} 

.footer img{

vertical-align: middle;

}

.footer a{

    color: white;
}

footer p {
    margin: 0;
}

.event-list{
    display: flex;
    flex-wrap: wrap;

}
.event-list-title{
margin-left: 20px;
}

.event{
    
    margin: 1%;
    width: 48%;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden; /*Se utiliza para que el objeto se mantenga visible en su totalidad lanzado al fondo*/
    background: #f4fbff;


}
.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
;
    
     
}

.event-detail{

    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    max-width: 1000px;
    width: 100%;
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto
    
}




.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
    text-decoration: none;
}|



.icon-icon-twitter {

    
    
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

.icon-icon-facebook {

    
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}

.icon-icon-github {


    color: #fff;
    font-size: 50px;
    text-decoration: none;}

.icon-icon-instagram {


    color: #fff;
    font-size: 50px;
    text-decoration: none;
}


.form-email input {

    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px 5px 25px ;
    background-image: url('../imagenes/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}

.container {
   
    max-width:1000px;
     /*codigo para usar todo el ancho*/ 
    margin: 0px auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    
}

.html-video {
    width: 100%;
    height: auto;
}


.youtube-video {

 /*    width: 100%;
    height: auto;
 */
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 

}

.flexible-video {

position: relative;
width: 100%;
height: 0;
padding-top: 56.25%;
background: blue;
}


/*para desktop first, debemos empezar desde el MQ mas grande*/
@media screen and (max-width: 1024px) {

    .container {
        padding: 0 1em;
        
    }

    .contact {
        margin: 0; 
    }

    .hero {
        height: auto;
        position: relative;
        overflow: hidden;
        padding: 2em;
        
 
        
    }

    h1 {
        font-size: 2em;
        z-index: 2;
    }

    .hero-image {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       width: 100%;
       object-fit: cover;
     
    }
}

@media screen and (max-width: 767px){

    

    .header{
        display: block;
        height: auto;
    }

    .header ol{
        display: block;
    }

    .header ol li {
        height: 40px;
    }

    .header a {
        justify-content: center;
    }

    .header .logo {
        text-align: center;
    }

    .project {
        display: block;
    }

    .project-details {
        width: auto;
    }   

    .project-imageContainer {
        width: auto;
        align-items: center;
    }



    .project-title {
        font-size: 1em;
    }

    .project-url {
        font-size: 1em;
    }

    .project-course {
        font-size: .7em;
    }

    .project-date {
        font-size: 1em;
    }

    .project-description {
        font-size: .8em;
    }

    .project-course, 
.project-date,
.project-url{
    margin: .3em 0;

}

.event {
    width: auto;
    flex-shrink: initial;
}

.event img {
    width: 100%;
}
}

@media screen and (max-width: 480px) {


        h1 {
            font-size: 1.5em;;
        }
    .project-details {
        
        font-size: 12px;
    }  

    .event-detail {
        margin: -2em .5em .5em;
        padding: 1em;
    }

    .contact {
        height: auto;
        padding: 1em 0;
        text-align: center;
        display: block;
    }

    .form-email button {
        margin: 1em auto;
    }

    .footer {
        display: block;
        text-align: center;
    }

   
}

@media screen and (max-width: 320px) {


        h1 {
            font-size: 1.2em;
            /* background: rgba(0, 0, 0, .5); */
        }

        .hero {
            padding: 2em 1em;
        }


}